{% extends "__layout.twig" %}
{% block content %}
    <div class="text-center mt-2 border">
        <img src="/images/404.jpeg" alt="404" class="mt-2" style="width: 900px; height: auto">
        <div>
            Страница не найдена! Шо делать!!!111 =О
        </div>
    </div>
{% endblock %}