{% macro btn(text, url, is_active, style) %}
    <a href="{{ url }}" class="btn {% if is_active %}{% if style %}btn-{{ style }}{% else %}btn-primary{% endif %}{% else %}btn-link{% endif %}">{{ text }}</a>
{% endmacro %}