{% extends "object.twig" %}
{% block objectContent %}
    <p class="mt-2 border p-3">АК (Автомат Калашникова) — надёжный советский автомат, разработанный Михаилом Калашниковым, используется с 1949 года. Отличается простотой конструкции, высокой живучестью и мощным патроном 7,62×39 мм (у АК-47) или 5,45×39 мм (у АК-74).</p>
    <br>
{% endblock %}