{% import "macros.twig" as macros %}
{% extends "__layout.twig" %}
{% block content %}
    <p class="mt-2">Тут мы вам расскажем об автомате {{ title }}</p>
    <ul class="nav nav-pills">
        <li class="nav-item">
            {{ macros.btn("Картинка", "/" ~ url_title ~ "/img", is_img) }}
        </li>
        <li class="nav-item">
            {{ macros.btn( "Описание", "/" ~ url_title ~ "/description", is_description) }}
        </li>
    </ul>
    {% block objectContent %}{% endblock %}
{% endblock %}